.editor-label { display: inline-block; }
.editor-label-block { display: block; margin-top: .5rem; }

.editor-fields { margin-top: .5rem; }

.editor-field { margin-bottom: .5rem; }
.editor-field label { display: block; }
.editor-field input { width: 100%; }

.editor-run { margin-top: .5rem; }

.editor-preview { margin-top: .5rem; }
.editor-preview-pre { white-space: pre-wrap; }
